<script>
$(document).ready(function () {
      $(".nav li").removeClass("active");
      $('#contact').addClass('active');
  });
</script>

<div class="row" style="margin-top: 50px;">
  <ul style="list-style-type:none;" class="text-center">
    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:atyi@ucdavis.edu"> atyi@ucdavis.edu</a></li>
    <li><i class="fa fa-mobile" aria-hidden="true"></i> 510-789-7844</li>
    <li><i class="fa fa-github" aria-hidden="true"></i><a href="https://www.github.com/alexyi822"> alexyi822</a></li>
  </u>
</div>